
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
  <div class="wpb_wrapper">
    <div class="section-intro  text-center  vc_custom_1459716795561">
      <h2 style="color:#282828" class="section-title wow fadeInUp">About Me</h2>
        <span class="separator" style="background-color:#dd3333"><span style="background-color:#dd3333"></span></span>
    </div> <!-- .section-intro -->

<div class="col-md-4 col-md-push-8   vc_custom_1465200538374">
  <div class="biography">
    <div class="myphoto">
     <img class="img-responsive" src="wp-content/uploads/2015/11/myphoto-1.jpg" alt="">
            <div class="img-frame"></div>
    </div>
        <ul>
          <li><strong>Name:&nbsp;</strong>Mohammad Irfan </li>
          <li><strong>Date of birth:&nbsp;</strong>01 Feb 1989 </li>
          <li><strong>Address:&nbsp;</strong>29 Haji Colony, Khajrana, Indore, MP, India</li>
          <li><strong>Nationality:&nbsp;</strong>Indian </li>
          <li><strong>Phone:&nbsp;</strong>(+91) 9907066167 </li>
          <li><strong>Email:&nbsp;</strong>mohdiran11@gmail.com </li>
        </ul>
    </div>
</div>

<div class="col-md-8 col-md-pull-4">
    <div class="short-info wow fadeInUp">
<h3>Objective</h3>
<p>An opportunity to work and upgrade oneself, as well as being involved in an organization that believes in gaining a competitive edge and giving back to the community. I&#8217;m presently expanding my solid experience in UI / UX design. I focus on using my interpersonal skills to build good user experience and create a strong interest in my employers. I hope to develop skills in motion design and my knowledge of the Web, and become an honest asset to the business. As an individual, I&#8217;m self-confident you’ll find me creative, funny and naturally passionate. I’m a forward thinker, which others may find inspiring when working as a team.</p>
</div>
<div class="short-info wow fadeInUp">
<h3>What I Do ?</h3>
<p>I have been working as a web interface designer since. I have a love of clean, elegant styling, and I have lots of experience in the production of CSS3 and HTML5 for modern websites. I loving creating awesome as per my clients’ need. I think user experience when I try to craft something for my clients. Making a design awesome.</p>
<ul class="list-check">
<li>User Experience Design</li>
<li>Interface Design</li>
<li>Product Design</li>
<li>Branding Design</li>
<li>Digital Painting</li>
<li>Video Editing</li>
</ul>
</div>
    <div class="my-signature">
                  <img src="wp-content/uploads/2015/11/sign.png" alt="">
    </div>

    <div class="download-button">
      <a class="btn btn-info btn-lg" href="#"><i class="fa fa-paper-plane"></i>Send me message</a>
      <a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i>Download my cv</a>
    </div>
</div>

 </div></div></div></div>
