  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="section-intro  text-center  vc_custom_1465201911551">
              <h2 style="color:#ffffff" class="section-title wow fadeInUp">Skills</h2>
            </div> <!-- .section-intro -->
            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                      <div class="vc_general vc_single_bar"><small class="vc_label">HTML <span class="vc_label_units">90%</span></small><span class="vc_bar " data-percentage-value="90" data-value="90" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">CSS <span class="vc_label_units">80%</span></small><span class="vc_bar " data-percentage-value="80" data-value="80" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Javascript <span class="vc_label_units">70%</span></small><span class="vc_bar " data-percentage-value="70" data-value="70" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Angular Js <span class="vc_label_units">65%</span></small><span class="vc_bar " data-percentage-value="65" data-value="65" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Node Js <span class="vc_label_units">60%</span></small><span class="vc_bar " data-percentage-value="60" data-value="60" style="background-color: #68c3a3;"></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="vc_progress_bar wpb_content_element">
                      <div class="vc_general vc_single_bar"><small class="vc_label">PHP <span class="vc_label_units">85%</span></small><span class="vc_bar " data-percentage-value="85" data-value="85" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Wordpress <span class="vc_label_units">80%</span></small><span class="vc_bar " data-percentage-value="80" data-value="80" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Magento <span class="vc_label_units">70%</span></small><span class="vc_bar " data-percentage-value="70" data-value="70" style="background-color:#68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">CodeIgniter <span class="vc_label_units">65%</span></small><span class="vc_bar " data-percentage-value="65" data-value="65" style="background-color: #68c3a3;"></span></div>
                      <div class="vc_general vc_single_bar"><small class="vc_label">Laravel <span class="vc_label_units">60%</span></small><span class="vc_bar " data-percentage-value="60" data-value="60" style="background-color: #68c3a3;"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>